In [2]:
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

Importujemy dane testowe i treningowe

In [3]:
traindata = pd.read_csv("datasets/titanic/train.csv")
testdata = pd.read_csv("datasets/titanic/test.csv")

Dane treningowe

In [4]:
traindata.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

Dane testowe (oczywiscie bez kolumny 'Survived')

In [5]:
testdata.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [6]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [7]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

Kolumna 'Cabin' ma ponad 70 procent nullowych wartości zarówno w treningowych, jak w testowych danych, więc usuniemy ją bo jest zbyt wybrakowana.

In [8]:
traindata.drop(['Cabin'],inplace=True,axis=1)
testdata.drop(['Cabin'],inplace=True,axis=1)

Zauważmy również, że zarówno w danych testowych, jak i treningowych, mamy wartości nullowe na poziomie 20%. Takie braki możemy wypełnić przez średnią z kolumny

In [9]:
mean_test = testdata['Age'].mean()
mean_train = traindata['Age'].mean()

testdata['Age'].fillna(mean_test,inplace=True)
traindata['Age'].fillna(mean_train,inplace=True)

Pozostają jeszcze drobne braki w kolumnie kategorycznej Embarked. Wsadzimy do brakujących wartości najczęściej pojawiającą się wartość w kolumnie.

In [10]:
mode_train = traindata['Age'].mode()[0]

traindata['Embarked'].fillna(mode_train, inplace = True)

Podobnie z kolumną 'Fare'. Ponieważ to kolumna numeryczna, wstawimy średnią

In [11]:
mean_test=testdata['Fare'].mean()

testdata['Fare'].fillna(mean_test, inplace = True)

Tak to wygląda teraz:

In [12]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ KB

In [13]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

Etykiety predykowane 'Survived' przyjmują wartości 0/1

In [14]:
traindata['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Klasy do możliwości wybierania artybutów

In [15]:
from sklearn.base import BaseEstimator, TransformerMixin

# A class to select numerical or categorical columns
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

Wykorzystamy też imputer do kategorycznych kolumn napisowych

In [16]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

Będziemy teraz przewidywać. Wartością przewidywaną jest to, czy przeżył czy nie (kolumna 'Survived'), na podstawie pozostałych kolumn. Będziemy budować i testować pajplajny w oparciu o następujące algorytmy:

LogisticRegression
SVM
DecisionTree
RandomForest
AdaBoost
GradientBoosting

In [17]:
traindata['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

Zauważmy, że mamy mamy znaczną przewagę 0 nad 1, więc wykorzystamy StratifiedKFold

In [18]:
from sklearn.model_selection import StratifiedKFold

kfold = StratifiedKFold(n_splits=5)

In [19]:
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
# TODO: wybierz kolumny do pipelinow

traindata['Pclass'] = traindata['Pclass'].astype(str)
traindata['Sex'] = traindata['Sex'].astype(str)
traindata['Embarked'] = traindata['Embarked'].astype(str)

testdata['Pclass'] = testdata['Pclass'].astype(str)
testdata['Sex'] = testdata['Sex'].astype(str)
testdata['Embarked'] = testdata['Embarked'].astype(str)

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["Pclass","Sex","Embarked"])),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
    ])
num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(["SibSp","Parch","Fare","Age"])),
        ("imputer", SimpleImputer(strategy="median")),
    ])

preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])

In [20]:
X_train = traindata
y_train = traindata['Survived']
del X_train['Survived']
X_test = testdata
cat_pipeline.fit_transform(X_train)

array([[0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 1., 0.]])

In [ ]:
1# SVC
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
pipe1 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', SVC())])


param_grid1 = {'classifier__C': [0.1,1, 10, 100], 'classifier__gamma': [1,0.1,0.01,0.001],'classifier__kernel': ['rbf', 'poly', 'sigmoid']}
grid_1 = GridSearchCV(pipe1, param_grid1, cv=kfold)
grid_1.fit(X_train, y_train)
grid_1.best_params_

2# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
pipe2 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', LogisticRegression())])
param_grid2 = {
    'C': [0.001, 0.01, 0.1, 1, 10, 100, 1000],
    'penalty': ['l1', 'l2']
}
grid_2 = GridSearchCV(pipe2, param_grid2, cv=kfold)
grid_2.fit(X_train, y_train)
grid_2.best_params_

3# Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
pipe3 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', DecisionTreeClassifier())])

param_grid3 = {
    'classifier__criterion':['gini', 'entropy'],
    'classifier__max_depth':[2,4,6,8,10,12]
}
grid_3 = GridSearchCV(pipe2, param_grid2, cv=kfold)
grid_3.fit(X_train, y_train)
grid_3.best_params_

4# RandomForestTree

In [1]:
from sklearn.ensemble import RandomForestClassifier

NameError: name 'testdata' is not defined