In [33]:
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

Importujemy dane testowe i treningowe

In [34]:
traindata = pd.read_csv("datasets/titanic/train.csv")
testdata = pd.read_csv("datasets/titanic/test.csv")
del traindata['Ticket']
del testdata['Ticket']

Dane treningowe

In [35]:
traindata.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708,NaN,C

Dane testowe (oczywiscie bez kolumny 'Survived')

In [36]:
testdata.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,24.1500,NaN,S

In [37]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

In [38]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(4)
memory usage: 32.8+ KB

Kolumna 'Cabin' ma ponad 70 procent nullowych wartości zarówno w treningowych, jak w testowych danych, więc usuniemy ją bo jest zbyt wybrakowana.

In [39]:
traindata.drop(['Cabin'],inplace=True,axis=1)
testdata.drop(['Cabin'],inplace=True,axis=1)

Zauważmy również, że zarówno w danych testowych, jak i treningowych, mamy wartości nullowe na poziomie 20%. Takie braki możemy wypełnić przez średnią z kolumny

In [40]:
mean_test = testdata['Age'].mean()
mean_train = traindata['Age'].mean()

testdata['Age'].fillna(mean_test,inplace=True)
traindata['Age'].fillna(mean_train,inplace=True)

Pozostają jeszcze drobne braki w kolumnie kategorycznej Embarked. Wsadzimy do brakujących wartości najczęściej pojawiającą się wartość w kolumnie.

In [41]:
mode_train = traindata['Age'].mode()[0]

traindata['Embarked'].fillna(mode_train, inplace = True)

Podobnie z kolumną 'Fare'. Ponieważ to kolumna numeryczna, wstawimy średnią

In [42]:
mean_test=testdata['Fare'].mean()

testdata['Fare'].fillna(mean_test, inplace = True)

Tak to wygląda teraz:

In [43]:
testdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Fare         418 non-null    float64
 8   Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 29.5+ KB

In [44]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Fare         891 non-null    float64
 9   Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

Etykiety predykowane 'Survived' przyjmują wartości 0/1

In [45]:
traindata['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Klasy do możliwości wybierania artybutów

In [46]:
from sklearn.base import BaseEstimator, TransformerMixin

# A class to select numerical or categorical columns
# since Scikit-Learn doesn't handle DataFrames yet
class DataFrameSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X[self.attribute_names]

Wykorzystamy też imputer do kategorycznych kolumn napisowych

In [47]:
class MostFrequentImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.most_frequent_ = pd.Series([X[c].value_counts().index[0] for c in X],
                                        index=X.columns)
        return self
    def transform(self, X, y=None):
        return X.fillna(self.most_frequent_)

In [48]:
traindata.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

Będziemy teraz przewidywać. Wartością przewidywaną jest to, czy przeżył czy nie (kolumna 'Survived'), na podstawie pozostałych kolumn. Będziemy budować i testować pajplajny w oparciu o najlepsze cztery algorytmy:

LogisticRegression
DecisionTree
RandomForest
GradientBoosting

In [49]:
traindata['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

Zauważmy, że mamy mamy znaczną przewagę 0 nad 1, więc wykorzystamy StratifiedKFold

In [50]:
X_train = traindata
y_train = traindata['Survived']
del X_train['Survived']
X_test = testdata

In [51]:
from sklearn.model_selection import StratifiedKFold

kfold = StratifiedKFold(n_splits=5)

In [52]:
from sklearn.pipeline import FeatureUnion
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
# TODO: wybierz kolumny do pipelinow

traindata['Pclass'] = traindata['Pclass'].astype(str)
traindata['Sex'] = traindata['Sex'].astype(str)
traindata['Embarked'] = traindata['Embarked'].astype(str)

testdata['Pclass'] = testdata['Pclass'].astype(str)
testdata['Sex'] = testdata['Sex'].astype(str)
testdata['Embarked'] = testdata['Embarked'].astype(str)

cat_pipeline = Pipeline([
        ("select_cat", DataFrameSelector(["Pclass","Sex","Embarked"])),
        ("imputer", MostFrequentImputer()),
        ("cat_encoder", OneHotEncoder(sparse=False, handle_unknown = 'ignore')),
    ])
num_pipeline = Pipeline([
        ("select_numeric", DataFrameSelector(["SibSp","Parch","Fare","Age"])),
        ("imputer", SimpleImputer(strategy="median")),
    ])

preprocess_pipeline = FeatureUnion(transformer_list=[
        ("num_pipeline", num_pipeline),
        ("cat_pipeline", cat_pipeline),
    ])
cat_pipeline.fit_transform(X_train)

array([[0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 1., 0., 0.],
       [0., 0., 1., ..., 0., 1., 0.]])

1# SVC

In [53]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
# pipe1 = Pipeline([
#     ('preprocessing', preprocess_pipeline),
#     ('classifier', SVC())])
#
# param_grid1 = {'classifier__C': [0.1,1, 10], 'classifier__gamma': [1,0.1,0.01,0.001]}
# grid_1 = GridSearchCV(pipe1, param_grid1, cv=kfold, scoring="accuracy", n_jobs= -1)
# grid_1.fit(X_train, y_train)
# grid_1.best_params_

# to nie wygrywa. komentuje zeby uniknac zbednego ciezkiego liczenia

2# Logistic Regression

In [54]:
from sklearn.linear_model import LogisticRegression
pipe2 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', LogisticRegression())])
param_grid2 = {
    'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
    'classifier__penalty': ['l1', 'l2']
}
grid_2 = GridSearchCV(pipe2, param_grid2, cv=kfold, scoring="accuracy", n_jobs= -1)
grid_2.fit(X_train, y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocessing',
                                        FeatureUnion(transformer_list=[('num_pipeline',
                                                                        Pipeline(steps=[('select_numeric',
                                                                                         DataFrameSelector(attribute_names=['SibSp',
                                                                                                                            'Parch',
                                                                                                                            'Fare',
                                                                                                                            'Age'])),
                                                                                        ('imputer',
                                                                                         SimpleImputer(strategy='median'))])),
                                                                       ('cat_pipeline',
                                                                        Pipeline(steps=[('select_cat',
                                                                                         DataFrameSelector(attribute_names=['Pclass',
                                                                                                                            'Sex',
                                                                                                                            'Embarked'])),
                                                                                        ('imputer',
                                                                                         MostFrequentImputer()),
                                                                                        ('cat_encoder',
                                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                                       sparse=False))]))])),
                                       ('classifier', LogisticRegression())]),
             n_jobs=-1,
             param_grid={'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'classifier__penalty': ['l1', 'l2']},
             scoring='accuracy')

3# Decision Tree

In [55]:
from sklearn.tree import DecisionTreeClassifier
pipe3 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', DecisionTreeClassifier())])

param_grid3 = {
    'classifier__max_depth':[2,4,6,8,10,12]
}
grid_3 = GridSearchCV(pipe2, param_grid2, cv=kfold, scoring="accuracy", n_jobs= -1)
grid_3.fit(X_train, y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocessing',
                                        FeatureUnion(transformer_list=[('num_pipeline',
                                                                        Pipeline(steps=[('select_numeric',
                                                                                         DataFrameSelector(attribute_names=['SibSp',
                                                                                                                            'Parch',
                                                                                                                            'Fare',
                                                                                                                            'Age'])),
                                                                                        ('imputer',
                                                                                         SimpleImputer(strategy='median'))])),
                                                                       ('cat_pipeline',
                                                                        Pipeline(steps=[('select_cat',
                                                                                         DataFrameSelector(attribute_names=['Pclass',
                                                                                                                            'Sex',
                                                                                                                            'Embarked'])),
                                                                                        ('imputer',
                                                                                         MostFrequentImputer()),
                                                                                        ('cat_encoder',
                                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                                       sparse=False))]))])),
                                       ('classifier', LogisticRegression())]),
             n_jobs=-1,
             param_grid={'classifier__C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'classifier__penalty': ['l1', 'l2']},
             scoring='accuracy')

4# RandomForest

In [56]:
from sklearn.ensemble import RandomForestClassifier

pipe4 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', RandomForestClassifier())])
nrandom=range(100,1000,100)

param_grid = {"classifier__n_estimators" :nrandom}

grid_4 = GridSearchCV(pipe4,param_grid = param_grid, cv=kfold, scoring="accuracy", n_jobs= -1)
grid_4.fit(X_train,y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocessing',
                                        FeatureUnion(transformer_list=[('num_pipeline',
                                                                        Pipeline(steps=[('select_numeric',
                                                                                         DataFrameSelector(attribute_names=['SibSp',
                                                                                                                            'Parch',
                                                                                                                            'Fare',
                                                                                                                            'Age'])),
                                                                                        ('imputer',
                                                                                         SimpleImputer(strategy='median'))])),
                                                                       ('cat_pipeline',
                                                                        Pipeline(steps=[('select_cat',
                                                                                         DataFrameSelector(attribute_names=['Pclass',
                                                                                                                            'Sex',
                                                                                                                            'Embarked'])),
                                                                                        ('imputer',
                                                                                         MostFrequentImputer()),
                                                                                        ('cat_encoder',
                                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                                       sparse=False))]))])),
                                       ('classifier',
                                        RandomForestClassifier())]),
             n_jobs=-1,
             param_grid={'classifier__n_estimators': range(100, 1000, 100)},
             scoring='accuracy')

5# GradientBoosting

In [57]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
param_grid = {'classifier__loss' : ["deviance"],
              'classifier__n_estimators' : [100,200,300,400],
              'classifier__learning_rate': [0.1, 0.05, 0.01,0.001],
              'classifier__max_depth': [4, 8],
              'classifier__min_samples_leaf': [100,150],
              'classifier__max_features': [0.3, 0.2,0.1]
              }
pipe5 = Pipeline([
    ('preprocessing', preprocess_pipeline),
    ('classifier', GradientBoostingClassifier())])
grid_5 = GridSearchCV(pipe5,param_grid = param_grid, cv=kfold, scoring="accuracy", n_jobs= -1)
grid_5.fit(X_train,y_train)

GridSearchCV(cv=StratifiedKFold(n_splits=5, random_state=None, shuffle=False),
             estimator=Pipeline(steps=[('preprocessing',
                                        FeatureUnion(transformer_list=[('num_pipeline',
                                                                        Pipeline(steps=[('select_numeric',
                                                                                         DataFrameSelector(attribute_names=['SibSp',
                                                                                                                            'Parch',
                                                                                                                            'Fare',
                                                                                                                            'Age'])),
                                                                                        ('imputer',
                                                                                         SimpleImputer(strategy='median'))])),
                                                                       ('cat_pipeline',
                                                                        Pipeline(steps=[('s...
                                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                                       sparse=False))]))])),
                                       ('classifier',
                                        GradientBoostingClassifier())]),
             n_jobs=-1,
             param_grid={'classifier__learning_rate': [0.1, 0.05, 0.01, 0.001],
                         'classifier__loss': ['deviance'],
                         'classifier__max_depth': [4, 8],
                         'classifier__max_features': [0.3, 0.2, 0.1],
                         'classifier__min_samples_leaf': [100, 150],
                         'classifier__n_estimators': [100, 200, 300, 400]},
             scoring='accuracy')

Podsumowanie

In [58]:
precision_scores=[]
best_estimators = []
names=['Logistic regression','Decision Tree','Random Forest','Gradient Boosting']

for model in (grid_2,grid_3,grid_4,grid_5):
    precision_scores.append(model.best_score_)
    best_estimators.append(model.best_estimator_)

d = {'names':names,
    'best score': precision_scores,
     'best estimator': best_estimators,
    }
df = pd.DataFrame(data=d)
df

,names,best score,best estimator
0,Logistic regression,0.797998,(FeatureUnion(transformer_list=[('num_pipeline...
1,Decision Tree,0.797998,(FeatureUnion(transformer_list=[('num_pipeline...
2,Random Forest,0.813722,(FeatureUnion(transformer_list=[('num_pipeline...
3,Gradient Boosting,0.821581,(FeatureUnion(transformer_list=[('num_pipeline...

Najlepiej wypada Gradient Boosting

In [59]:
grid_5.best_score_

0.8215805661917018

In [60]:
grid_5.best_estimator_

Pipeline(steps=[('preprocessing',
                 FeatureUnion(transformer_list=[('num_pipeline',
                                                 Pipeline(steps=[('select_numeric',
                                                                  DataFrameSelector(attribute_names=['SibSp',
                                                                                                     'Parch',
                                                                                                     'Fare',
                                                                                                     'Age'])),
                                                                 ('imputer',
                                                                  SimpleImputer(strategy='median'))])),
                                                ('cat_pipeline',
                                                 Pipeline(steps=[('select_cat',
                                                                  DataFrameSelector(attribute_names=['Pclass',
                                                                                                     'Sex',
                                                                                                     'Embarked'])),
                                                                 ('imputer',
                                                                  MostFrequentImputer()),
                                                                 ('cat_encoder',
                                                                  OneHotEncoder(handle_unknown='ignore',
                                                                                sparse=False))]))])),
                ('classifier',
                 GradientBoostingClassifier(max_depth=8, max_features=0.3,
                                            min_samples_leaf=100,
                                            n_estimators=400))])

In [61]:
grid_predict=grid_5.predict(X_test)

In [62]:
X_test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.50000,0,0,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.00000,0,0,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,12.2875,S
...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.27259,0,0,8.0500,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,108.9000,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,7.2500,S
416,1308,3,"Ware, Mr. Frederick",male,30.27259,0,0,8.0500,S
417,1309,3,"Peter, Master. Michael J",male,30.27259,1,1,22.3583,C

In [63]:
submission = pd.DataFrame({
        "PassengerId": X_test["PassengerId"],
        "Survived": grid_predict})

Najlepszy predykator i jego przewidywania składam do pliku csv i wysyłam na kaggle

In [65]:
submission.to_csv('submission.csv',index=False)