# Regresja

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import cross_val_predict
from sklearn import datasets, linear_model
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import make_pipeline
from sklearn import model_selection
from sklearn import  metrics
from statsmodels.formula.api import ols

Rozważmy zbiór Boston

In [4]:
boston = datasets.load_boston()
# print description
# print(boston.DESCR)

C:\Users\sch03\anaconda3\envs\podstawy_sztucznej_inteligencji\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [5]:
print(boston.keys())
print(boston.data.shape)
print(boston.feature_names)

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])
(506, 13)
['CRIM' 'ZN' 'INDUS' 'CHAS' 'NOX' 'RM' 'AGE' 'DIS' 'RAD' 'TAX' 'PTRATIO'
 'B' 'LSTAT']

In [6]:
# get the data
boston_X = boston.data
boston_Y = boston.target

# Split the data into training/testing sets
boston_X_train = boston_X[:-50]
boston_X_test = boston_X[-50:]
 
# Split the targets into training/testing sets
boston_y_train = boston_Y[:-50]
boston_y_test = boston_Y[-50:]

In [7]:
bos=pd.DataFrame(boston.data[:-50])
bos.columns = boston.feature_names
bos['PRICE']=boston.target[:-50]
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [8]:
bos1=pd.DataFrame(boston_X[-50:])
bos1.columns = boston.feature_names
bos1['PRICE']=boston.target[-50:]
bos1.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,4.66883,0.0,18.1,0.0,0.713,5.976,87.9,2.5806,24.0,666.0,20.2,10.48,19.01,12.7
1,8.20058,0.0,18.1,0.0,0.713,5.936,80.3,2.7792,24.0,666.0,20.2,3.50,16.94,13.5
2,7.75223,0.0,18.1,0.0,0.713,6.301,83.7,2.7831,24.0,666.0,20.2,272.21,16.23,14.9
3,6.80117,0.0,18.1,0.0,0.713,6.081,84.4,2.7175,24.0,666.0,20.2,396.90,14.70,20.0
4,4.81213,0.0,18.1,0.0,0.713,6.701,90.0,2.5975,24.0,666.0,20.2,255.23,16.42,16.4

In [9]:
model = ols("PRICE ~ np.log(CRIM) + I(LSTAT ** 2) + AGE:TAX:INDUS + I(RM) + I(TAX)*np.log(INDUS) + ZN:INDUS", bos).fit()
# Print the summary
print((model.summary2()))

                  Results: Ordinary least squares
====================================================================
Model:                OLS              Adj. R-squared:     0.609
Dependent Variable:   PRICE            AIC:                2927.0954
Date:                 2022-03-31 13:58 BIC:                2964.1978
No. Observations:     456              Log-Likelihood:     -1454.5
Df Model:             8                F-statistic:        89.65
Df Residuals:         447              Prob (F-statistic): 5.51e-88
R-squared:            0.616            Scale:              35.221
--------------------------------------------------------------------
                      Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
--------------------------------------------------------------------
Intercept             4.4215   5.3599  0.8249 0.4099 -6.1122 14.9552
np.log(CRIM)          0.3103   0.3230  0.9605 0.3373 -0.3245  0.9451
I(LSTAT ** 2)        -0.0113   0.0017 -6.6945 0.0000 -0.0146 -0.0080
AGE:TAX:INDUS         0.0000   0.0000  2.3620 0.0186  0.0000  0.0000
I(RM)                 5.9791   0.4860 12.3031 0.0000  5.0240  6.9342
I(TAX)               -0.0415   0.0122 -3.4100 0.0007 -0.0655 -0.0176
np.log(INDUS)        -4.4107   1.4530 -3.0356 0.0025 -7.2663 -1.5552
I(TAX):np.log(INDUS)  0.0067   0.0053  1.2573 0.2093 -0.0038  0.0171
ZN:INDUS              0.0043   0.0039  1.1253 0.2610 -0.0032  0.0119
--------------------------------------------------------------------
Omnibus:              202.193       Durbin-Watson:          0.795
Prob(Omnibus):        0.000         Jarque-Bera (JB):       1129.018
Skew:                 1.862         Prob(JB):               0.000
Kurtosis:             9.749         Condition No.:          11906209
====================================================================
* The condition number is large (1e+07). This might indicate
strong multicollinearity or other numerical problems.

In [10]:
from sklearn import  metrics
metrics.r2_score(bos.PRICE, model.predict(bos))

0.616040783571153

In [11]:
from sklearn import  metrics
metrics.r2_score(bos1.PRICE, model.predict(bos1))

-0.02545599096290041